:root {
    --main-color: rgb(145, 139, 139);
    --background-color: black;
    --page-font: white;
    
}

body {
    /* background: var(--background-color); */
    color: var(--main-color);
}

#main {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 20px 0px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
    border: 1px solid black;
}

#div-one-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#name {
    font-family: 'Chivo Mono', monospace;
    font-size: 4rem;
    font-weight: 600;
    color: var(--main-color);
    border: 1px solid black;
}

#socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: 50%;
    border: 1px solid black;
}

.fa-github:hover, .fa-instagram:hover  {
    cursor: pointer;
}

@media (max-width: 640px){

       #main {
        display: flex;
        flex-direction: column;
       }

       #name {
        font-size: 2rem;
        margin: auto;
        margin-bottom: 20px;
    }

    #div-one-img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: auto;
    }
    
    }
    
    @media (min-width: 768px){
    

    
    }
    
    @media (min-width: 1024px){
    
  
    
    }
    
    @media (min-width: 1200px){
    
    }

