:root {
    --background-color: rgb(39, 38, 38);
    --font-color: rgb(242, 236, 236);
    
}

body {
    background: var(--background-color);
    color: var(--font-color)
}

.navbar {
    display: flex; 
}

.list-items {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.list-items > li {
    padding: 10px;
}

.list-items > li:hover {
   cursor: pointer;
}

.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-div > div {
    margin: 100px;
}

.main-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div > i {
    padding: 10px;
}

.footer-div > i:hover {
    cursor: pointer;
}

