:root {
    --twitter-blue: #00ACEE;
    --card-white: #fff;
    --card-black: #000;
    --podcast-purple: #773fe7;
    --youtube-red: #FF0000;
    --instagram-purple: #E1306C;
    --facebook-blue: #4267B2;
    
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__wrapper {
    height: 400px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    background: var(--card-white);
    box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, .22);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__user--img {
    border: 2px solid var(--facebook-blue);
    height: 70px;
    width: 70px;
    margin: 2rem 0 1.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.card-info {
    margin-bottom: 2rem;
}

.card__name {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.card__title {
    display: block;
    font-size: .7rem;
    margin-bottom: 1rem;
    text-align: center;
}

.card__icon {
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--card-black);
    margin-bottom: .4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    cursor: pointer;
}

.card__icon--box {
    width: 25px;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon--title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__icon--tw {
    color: var(--twitter-blue);
    border: 1px solid var(--twitter-blue);
}

.card__icon--tw:hover {
    background: var(--twitter-blue);
    color: var(--card-white);
}

.card__icon--ig {
    color: var(--instagram-purple);
    border: 1px solid var(--instagram-purple);
}

.card__icon--ig:hover {
    background: var(--instagram-purple);
    color: var(--card-white);
}

.card__icon--yt {
    color: var(--youtube-red);
    border: 1px solid var(--youtube-red);
}

.card__icon--yt:hover {
    background: var(--youtube-red);
    color: var(--card-white);
}

.card__icon--pc {
    color: var(--podcast-purple);
    border: 1px solid var(--podcast-purple);
}

.card__icon--pc:hover {
    background: var(--podcast-purple);
    color: var(--card-white);
}